<a href="https://colab.research.google.com/github/PsorTheDoctor/Sekcja-SI/blob/master/machine_learning/unsupervised_learning/association_rules/apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algorytm Apriori
Instalacja biblioteki scikit-learn:

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.17.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)

Aktualizacja do najnowszej wersji:

In [2]:
!pip install --upgrade scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/5e/d8/312e03adf4c78663e17d802fe2440072376fee46cada1404f1727ed77a32/scikit_learn-0.22.2.post1-cp36-cp36m-manylinux1_x86_64.whl (7.1MB)
     |████████████████████████████████| 7.1MB 5.1MB/s
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.17.5)
Installing collected packages: scikit-learn
  Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
Successfully installed scikit-learn-0.22.2.post1

### Import bibliotek

In [0]:
import pandas as pd
import numpy as np

### Wygenerowanie danych

In [4]:
data = {'produkty': ['chleb jajka mleko', 'mleko ser', 'chleb masło ser', 'chleb jajka']}

transactions = pd.DataFrame(data=data, index=[1, 2, 3, 4])
transactions

            produkty
1  chleb jajka mleko
2          mleko ser
3    chleb masło ser
4        chleb jajka

### Przygotowanie danych

In [5]:
# rozwinięcie kolumny do obiektu DataFrame
expand = transactions['produkty'].str.split(expand=True)
expand

       0      1      2
1  chleb  jajka  mleko
2  mleko    ser   None
3  chleb  masło    ser
4  chleb  jajka   None

In [6]:
# wydobycie nazw wszystkich produktów
products = []
for col in expand.columns:
  for product in expand[col].unique():
    if product is not None and product not in products:
      products.append(product)

products.sort()
print(products)

['chleb', 'jajka', 'masło', 'mleko', 'ser']

In [7]:
transactions_encoded = np.zeros((len(transactions), len(products)), dtype='int8')
transactions_encoded

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int8)

In [8]:
# kodowanie 0-1
for row in zip(range(len(transactions)), transactions_encoded, expand.values):
  for idx, product in enumerate(products):
    if product in row[2]:
      transactions_encoded[row[0], idx] = 1

transactions_encoded

array([[1, 1, 0, 1, 0],
       [0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1],
       [1, 1, 0, 0, 0]], dtype=int8)

In [10]:
transactions_encoded_df = pd.DataFrame(transactions_encoded, columns=products)
transactions_encoded_df

   chleb  jajka  masło  mleko  ser
0      1      1      0      1    0
1      0      0      0      1    1
2      1      0      1      0    1
3      1      1      0      0    0

### Algorytm Apriori

In [11]:
from mlxtend.frequent_patterns import apriori, association_rules

supports = apriori(transactions_encoded_df, min_support=0.0, use_colnames=True)
supports

    support                           itemsets
0      0.75                            (chleb)
1      0.50                            (jajka)
2      0.25                            (masło)
3      0.50                            (mleko)
4      0.50                              (ser)
5      0.50                     (chleb, jajka)
6      0.25                     (masło, chleb)
7      0.25                     (chleb, mleko)
8      0.25                       (chleb, ser)
9      0.00                     (masło, jajka)
10     0.25                     (mleko, jajka)
11     0.00                       (ser, jajka)
12     0.00                     (masło, mleko)
13     0.25                       (masło, ser)
14     0.25                       (ser, mleko)
15     0.00              (masło, chleb, jajka)
16     0.25              (chleb, mleko, jajka)
17     0.00                (chleb, jajka, ser)
18     0.00              (masło, chleb, mleko)
19     0.25                (masło, chleb, ser)
20     0.00                (chleb, mleko, ser)
21     0.00              (masło, mleko, jajka)
22     0.00                (masło, ser, jajka)
23     0.00                (ser, mleko, jajka)
24     0.00                (masło, ser, mleko)
25     0.00       (masło, chleb, mleko, jajka)
26     0.00         (masło, chleb, jajka, ser)
27     0.00         (chleb, mleko, jajka, ser)
28     0.00         (masło, chleb, mleko, ser)
29     0.00         (masło, ser, mleko, jajka)
30     0.00  (ser, mleko, masło, chleb, jajka)

In [12]:
supports = apriori(transactions_encoded_df, min_support=0.3, use_colnames=True)
supports

   support        itemsets
0     0.75         (chleb)
1     0.50         (jajka)
2     0.50         (mleko)
3     0.50           (ser)
4     0.50  (chleb, jajka)

In [14]:
rules = association_rules(supports, metric='confidence', min_threshold=0.65)
rules = rules.iloc[:, [0, 1, 4, 5, 6]]
rules

  antecedents consequents  support  confidence      lift
0     (chleb)     (jajka)      0.5    0.666667  1.333333
1     (jajka)     (chleb)      0.5    1.000000  1.333333

In [15]:
rules.sort_values(by='lift', ascending=False)

  antecedents consequents  support  confidence      lift
0     (chleb)     (jajka)      0.5    0.666667  1.333333
1     (jajka)     (chleb)      0.5    1.000000  1.333333